<header class="header">
	<div class="logo">
		<img src="../assets/img/logo.svg">

   </div>
		<ngx-menu [items]="items" (closed)="menuClosed($event)" (opened)="menuOpened($event)">
		</ngx-menu>
</header>
<section class="layout">
	<div class="column">
		<h1>Responsive angular menu</h1>
		<h3>Customize the navigation of your project using this component</h3>

		<section class="page">
			<router-outlet></router-outlet>
		</section>
	</div>

</section>
<footer>
	<p>
		See the source code on Stackblitz
		<a href="https://stackblitz.com/edit/carrousel-with-zoom"
			target="_blank">https://stackblitz.com/edit/ngx-menu</a>
	</p>
</footer>