@import "../assets/mixins.scss";

.page {
  padding: 2rem;

  &-header {
    text-align: center;
  }

  &-content {
    text-align: left;

    img {
      width: 50vw;
      margin: 4rem auto;
      display: block;
    }
  }
}

@include breakpoint(mobile) {
  .page {
    border-top: dashed 5px $gray-light;
  }
}
