$blue: rgb(46, 25, 139);
$blue-light: rgb(103, 134, 192);
$gray-light: #e7e7e7;
$gray-dark: #5c5c5c;
$white: #ffffff;
$red: rgb(168, 21, 21);
$red-light: #be2424;

//base
$padding: 0.5rem 0.75rem;
$margin: 1rem;

// typography

$base-font-family: "Source Sans Pro", sans-serif;
