<nav class="menu" [ngClass]="{'menu-open':isOpen}">
	<div class="menu-toggle" (click)="toggle()">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</div>
	<ul class="menu-items">
		<li class="menu-item menu-item-header">Menu</li>
		<li class="menu-item {{item[1].cssClass}}" [ngClass]="{'is-selected':menu.selectedIndex === item[0]}"
			(click)="selectItem(item[0])" *ngFor="let item of itemsList"><a href="#{{item[1].title}}"
				*ngIf="item[1].isEnabled">
				<img src="../../../assets/img/{{item[1].icon}}.svg"/>{{item[1].title}}</a>
		</li>
		<li class="menu-item menu-item-footer">
			<a href="#logout"><img src="../../../assets/img/logout.svg"/>Logout</a></li>
	</ul>
</nav>