<nav class="menu" [ngClass]="{'menu-open':isOpen}">
	<div class="menu-toggle" (click)="toggle()">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</div>
	<ul class="menu-items">
		<li class="menu-item menu-item-header">Menu</li>
    {{itemsList | jso}}
		<!-- <li class="menu-item" (click)="toggle()" *ngFor="let item of itemsList"><a href="#{{itemtitle}}">
				<img src="../../../assets/img/{{item.icon}}.svg"/>{{item.title}}</a>
		</li> -->
		<li class="menu-item menu-item-footer">
			<a href="#logout"><img src="../../../assets/img/logout.svg"/>Logout</a></li>
	</ul>
</nav>