<nav class="menu" [ngClass]="{'menu-open':isOpen}">
	<div class="menu-toggle" (click)="toggle()">
		<span class="line"></span>
		<span class="line"></span>
		<span class="line"></span>
	</div>
	<ul class="menu-items">
		<li class="menu-item menu-item-header">Menu</li>
		<li class="menu-item" (click)="toggle()" *ngFor="let item of items"><a href="#{{item.label}}">
				<img src="../../../assets/img/{{item.icon}}.svg"/>{{item.label}}</a>
		</li>
		<li class="menu-item menu-item-footer"> <img src="../../../assets/img/logout.svg"/>Logout</li>
	</ul>
</nav>