@import "../../../assets/variables.scss";
@import "../../../assets/mixins.scss";

.menu {
  font-weight: 400;
  margin: 0 1rem;

  &-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 10;
    cursor: pointer;

    .show {
      display: block;
    }

    .line {
      height: 4px;
      background-color: #fff;
      width: 100%;
      display: block;
      margin: 4px 0;
      border-radius: 5px;
      transition-duration: 0.3s;
    }
  }
  &-items {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: unset;
    font-size: 1.6rem;

    &.side {
      max-width: 320px;
      flex-direction: column;
    }
  }

  &-item {
    list-style: none;
    padding: 0.5rem 0.75rem;
    border-bottom: solid 1px $red;

    &:hover {
      background-color: $red-light;
      box-shadow: 0px 0px 6px #11111140;
      transform: scale(1.1);
      transition-duration: 0.5s;

      a {
        img {
          animation: 0.3s alternate linear shake;
        }
      }
    }

    &-header {
      text-align: center;
      font-size: 1.8rem;
      display: none;
      &:hover {
        background-color: unset;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      display: flex;
      align-content: center;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      line-height: 3rem;
      img {
        width: 2rem;
      }
    }
  }
}

@include breakpoint(mobile) {
  .menu {
    &-toggle {
      display: block;
    }
    &-items {
      display: none;
    }
    &-open {
      background-color: $red;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: start;

      .menu-toggle {
        .line:first-of-type {
          transform: rotate(45deg) translate(7px, 7px);
        }
        .line:nth-child(2) {
          opacity: 0;
        }

        .line:last-of-type {
          transform: rotate(-45deg) translate(4px, -5px);
        }
      }

      .menu-items {
        text-align: left;
        display: block;
        padding-left: 0;
        width: 100%;

        li {
          transition-duration: 0.5s;
          font-size: 2.2rem;
          line-height: 4rem;
          display: block;
          border-bottom: solid 1px #a75656;
          padding: 1.5rem;

          a {
            flex-direction: row;
            line-height: 1.5rem;
            img {
              padding-right: 1rem;
            }
          }
        }
      }
    }
  }
}
@keyframes shake {
  0% {
    transform: rotate(-15deg);
  }

  50% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0);
  }
}
